body{
	background-color:#003366;
	color:white;
}

.nav{
	position:fixed;
	padding:10px;
	height:40px;
	width:100%;
	background-color:black;
}

.button{
	display:inline-block;
	width:30%;
	font-family:futura;
	font-weight:bolder;
	font-size:22px;
	text-align:center;
}

h1{
	font-family:gill sans;
	font-size:70px;
	line-height:75px;
	font-weight:bolder;
	padding:20px;
}

h2{
	font-size:18px;
	font-family:gill sans;
	line-height:18px;
	font-weight:bolder;
}

p{
	font-family:Palatino, URW Palladio L, serif;
	font-size:18px;
	line-height:22px;
	padding:25px;
}

.quote{
	font-family:Chalkduster, fantasy;
	font-size:25px;
	padding:30px;
	text-align:center;

}

.pic1{
	width:100%;

}
img {
	width:100%;
	height:auto;

}

.main{
	display:flex;
	flex-wrap:wrap;
}

.w1of2{
	width:50%;
	padding:10px;
}