body{
	background-color:black;
}

.logo{
	width:130px;
	height:130px;
	padding:10px;
	position:fixed;
	z-index:2;
	left:0px;
	top:0px;
}

.logo img{
	width:100%;
}

.logo:hover {
	filter:invert(100%);
	cursor:pointer;
	transition:2s;
}
	

.landing{
	padding:20px;
	background-color:white;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	width:100%;
	background-color:white;
	box-shadow:0px 5px 10px 10px white;

}


.read{
	font-family:gill sans;
	font-size:15px;
}

.heading{
	font-family:Snell Roundhand, cursive;
	font-size:40px;
	font-weight:bolder;
}
.column{
	width:49.9%;
	display:flex;
	padding:10px;
	margin:auto;

}

.move{
	margin-top:-57%;
	transition:2s;
}

.move1{
	margin-top:-59%;
	transition:2s;
}
/*nav starts*/

.nav{
	width:100%;
	padding:10px;
	position:fixed;
	bottom:0px;
	left:0px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	z-index:2;
	background-color:black;

}

.nav.active{
	display:none;
}


.btn{
	display:flex;
	padding:10px;
	font-family:futura;
	font-size:20px;
	border-radius:2px;
	background-color:black;
	width:16.66%;


}

.btn:hover{
	opacity:70%;
	cursor:pointer;
}

.btn img{
	width:100%;
	max-height:50px;
	max-width:50px;
	margin-left: auto;
    margin-right: auto;
}
/*nav ends*/


/*image ends*/
.container{
	margin:15px;
	padding:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.item{
	width:33.33%;
	background-color:black;
	color:white;
	padding:0px;
	align-items:center;
	font-family:futura;
	font-size:15px;
	text-align:center;

}


.item img{
	width:100%;
	height:auto;
	filter:grayscale(100%);
	z-index:-2;
	display:block;
}

.item img:hover{
	filter:grayscale(0%);
}

.overlay{
	padding:10px;
}


.hide{
	display:none;
}

.line{
	width:50%;
	height:1px;
	background-color:grey;
	margin-left:auto;
	margin-right:auto;
}

.footer{
	padding-top:5px;
	padding-bottom:5px;
	width: 100%;
	background-color:black;
	color:lightgrey;
	text-align: center;
	font-family:helvetica;
	font-size:12px;
}

.next{
	font-size:18px;
	position:fixed;
	background-color:white;
	color:black;
	font-family:futura;
	font-weight:bolder;
	bottom:13%;
	right:10px;
	height:10px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
/*iphone*/
@media(max-width: 550px){
	.item{
		width:100%;
		font-size:18px;
		padding:0px;
		text-align:center;
	}

	.footer{
		
	}

	.column{
		width:100%;
	}

.logo{
	width:120px;
	height:120px;
	right:0px;
	left:inherit;
	top:0px;
}

.move{
	margin-top:-185%;
	transition:2s;
}
.move1{
	margin-top:-191%;
	transition:2s;
}
}