body{
	background-color:white;
}

.tittle{
	font-family:futura;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	color:black;
	padding:30px;
	background-color:red;
	height:10px;
	width:50px;
	position:fixed;
}

img{
	max-width:100%;
	height:auto;
}

.cont{
	display:block;
	font-family:andale mono;
	font-size:30px;
}

.left{
	position:fixed;
	width:49%;
	height:100vw;
	z-index:-2;
	display:inline-block;
}


.right{
	width:49%;
	position:absolute;
	display:inline-block;
	right:0px;
	padding:30px;
}

a{
	font-size:12px;
	text-decoration:none;
	color:black;
}

a:hover{
	color:red;
}
