body{
	background-color:white;
}

.tittle{
	font-family:futura;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	color:black;
	padding:30px;
	background-color:red;
	height:10px;
	width:50px;
	position:fixed;
}

img{
	max-width:100%;
	height:auto;
}

img:hover{
	animation:rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cont{
	display:block;
	font-family:andale mono;
	font-size:30px;
	font-weight:bolder;
}

.left{
	position:fixed;
	width:49%;
	height:100vw;
	z-index:-2;
	display:inline-block;
	vertical-align:middle;
}


.right{
	width:49%;
	position:absolute;
	display:inline-block;
	right:0px;
	padding:50px;
}

a{
	font-size:12px;
	text-decoration:none;
	color:black;
}

a:hover{
	color:red;
}

.footer{
	font-family:roboto;
	font-size:12px;
	position:absolute;
	bottom:0px;
	text-align:center;
}
