body{
	font-size:50px;
	font-family:impact;
	background:blue;
}
.col{
	width:49%;
	font-size:50px;
	display:inline-block;
	padding:20px;
	vertical-align:top;
	background-color:white;
	text-align:center;
}

.message{
	font-size:110px;
	font-family:impact;
	padding-left:50px;
}

.word1{
	animation: flick 0.5s infinite alternate;
	color:red;
}

.word2{
	animation: flick 0.5s infinite alternate;
	color:red;
}

@keyframes flick{
	0%{
		opacity:40%;
	}
	100%{
		opacity:100%;
		text-shadow:0px 0px 5px black;
	}
}

.message1{
	font-size:90px;
	padding-top:30px;
	padding-bottom:30px;
	background-color:red;
	color:white;
	padding-left:50px;
}

.logo{
	background-color:white;
	position:fixed;
	color:red;
	padding:20px;
	bottom:30%;
	animation:vib 0.1s infinite alternate;
}

.logo1{
	background-color:white;
	position:fixed;
	right:0px;
	color:red;
	padding:20px;
	bottom:50%;
	animation:vib 0.1s infinite alternate;
}

@keyframes vib{
	0%{
		background-color:white;
	}
	100%{
		background-color:blue;
	}
}


.mada{
	color:white;
	font-weight:bolder;
	animation: jump 3s infinite alternate;
}

@keyframes jump {
	0%{
		padding-left:0px;
		s

	}
	100%{
		padding-left:900px;
		transform:skew(25deg);

	}
}